github-explorer/node_modules
github-explorer/dist
dtmoney/node_modules
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
dtmoney/node_modules
dtmoney/.pnp
dtmoney/.pnp.js

# testing
dtmoney/coverage

# production
dtmoney/build

# misc
dtmoney/.DS_Store
dtmoney/.env.local
dtmoney/.env.development.local
dtmoney/.env.test.local
dtmoney/.env.production.local

dtmoney/npm-debug.log*
dtmoney/yarn-debug.log*
dtmoney/yarn-error.log*
