reactjs/dtmoney/node_modules
reactjs/github-explorer/node_modules
reactjs/ignews/.env.local
reactjs/ignews/.env.production
reactjs/ignews/.env.development
reactjs/ignews/node_modules

nodejs/fundamentos-nodejs/node_modules
nodejs/finapi/node_modules
nodejs/rentalx/node_modules
nodejs/typescript/node_modules